$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import 'bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';
// endbower

@import 'partials/home';
@import 'partials/navbar';
@import 'partials/notification-list';
@import 'partials/rawr-button';
@import 'partials/rawr-composer';
@import 'partials/user-box';
@import 'partials/trending-box';
@import 'partials/rawr-list';
@import 'partials/search';
@import 'partials/signup';

body {
  background-color: $light-blue-color;
  color: $dark-gray-color;
  padding-top: 70px;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica , Arial , sans-serif;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  input[type="text"] {
    font-size: inherit;
  }
  .no-margin {
    margin: 0px;
  }
}

.clearfix {
  clear: both;
}

.empty-loading {
  display: flex;
  min-height: 100px;
}

.empty-loading p.title {
  margin: auto;
  color: $darker-blue-color;
  font-weight: 500;
  text-transform: none;
  text-align: center;
}

.empty-loading img.spinner {
  width: 20px;
  height: 20px;
  margin: auto;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.empty-loading.border-top {
  border-top: 1px solid $border-blue-color;
}

.verified {
  font-size: 1.2em;
}

.verified.blue {
  color: $blue-color;
}

.verified.white {
  color: white;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.panel.panel-raptor {
  border: solid 1px $border-blue-color;
}

@media screen and (max-width: 767px) {
  .panel.panel-raptor {
    border: none;
    border-top: solid 1px $border-blue-color;
    border-bottom: solid 1px $border-blue-color;
    border-radius: 0px;
  }
}

@media screen and (max-width: 767px) {
  .no-padding [class*='col-'] {
      padding-right: 0px;
      padding-left: 0px;
  }
}

/* raptor input */

.raptor-input {
    display: block;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.428571429;
    color: $dark-gray-color;
    background-color: $light-blue-color;
    background-image: none;
    border-style: none;
    border-radius: 4px;
    box-shadow: none;
}

.raptor-input::-webkit-input-placeholder {
    color: $dark-blue-color;
}

.raptor-input:-moz-placeholder {
    color: $dark-blue-color;
    opacity: 1;
}

.raptor-input::-moz-placeholder {
    color: $dark-blue-color;
    opacity: 1;
}

.raptor-input:-ms-input-placeholder {
    color: $dark-blue-color;
}

input:focus.raptor-input {
    outline: none;
    border: none;
    box-shadow: none;
}
