@import 'modules/variables';

.notification-list {
  color: $dark-gray-color;
}

.notification-list a {
  color: $dark-gray-color;
  font-weight: 500;
}

.notification-list .header {
  border-bottom: 1px solid $dark-blue-color;
  color: $darker-blue-color;
}

.notification-list .header .glyphicon {
  top: 3px;
}

.notification-list .empty-loading.border-top {
  border-top: 1px solid $darker-blue-color;
}

.notification-list .header .title {
  margin: 0px;
  padding: 5px 5px 5px 10px;
  font-weight: 500;
  font-size: 1.1em;
}

.notification-list .empty-loading {
  min-height: 80px;
}

.notification {
  display: inline-block;
  min-width: 350px;
  padding: 15px;
  border-bottom: 1px solid $border-blue-color;
}

.notification.unread {
  background-color: $light-blue-color;
}

.notification:before {
  content: "";
  height: 100%;
}

@media screen and (max-width: 768px) {
  .notification {
    width: 100%;
    min-width: 300px;
  }
}

.notification.last-child {
  border-style: none;
}

.notification:before, .notification-body {
  vertical-align: middle;
}

.notification-body {
  overflow: hidden;
}

.notification-body .title {
  margin-bottom: 0px;
}

.notification-body .time {
  margin-bottom: 0px;
  color: $dark-blue-color;
  font-size: 0.9em;
}

.notification-media {
  margin-right: -15px;
}

.notification-media .profile-picture {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid $dark-blue-color;
}

.notification-media .icon {
  position: relative;
  top: 18px;
  right: 24px;
  height: 30px;
  width: 30px;
  padding-top: 5px;
  text-align: center;
  font-size: 15px;
  color: white;
  border-radius: 50%;
  border: 2px solid white;
}

.icon.like {
  background-color: $heart-color;
}

.icon.mention {
  background-color: $mention-color;
}

.icon.rerawr {
  background-color: $rerawr-color;
  padding-top: 6px;
  top: 18px;
}

.icon.follow {
  background-color: $follow-color;
}

.icon.unfollow {
  background-color: $unfollow-color;
}
