@import 'modules/variables';

.notification-list {
  color: $dark-gray-color;
  font-size: 1.1em;
}

.notification-list a {
  color: $dark-gray-color;
  font-weight: bold;
}

.notification {
  display: inline-block;
  min-width: 350px;
  padding: 15px;
  border-bottom: 1px solid $dark-blue-color;
}

.notification.unread {
  background-color: $light-blue-color;
}

.notification:before {
  content: "";
  height: 100%;
}

@media screen and (max-width: 768px) {
  .notification {
    width: 100%;
    min-width: 300px;
  }
}

.notification:last-child {
  border-style: none;
}

.notification:before, .notification-body {
  vertical-align: middle;
}

.notification-body {
  overflow: hidden;
}

.notification-body .title {
  margin-bottom: 0px;
}

.notification-body .time {
  margin-bottom: 0px;
  color: $dark-blue-color;
}

.notification-media {
  margin-right: -15px;
}

.notification-media .profile-picture {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid $dark-blue-color;
}

.notification-media .icon {
  position: relative;
  top: 20px;
  right: 20px;
  height: 35px;
  width: 35px;
  text-align: center;
  font-size: 20px;
  color: white;
  border-radius: 50%;
  border: 2px solid white;
}

.icon.heart {
  padding-top: 6px;
  background-color: $heart-color;
}

.icon.mention {
  padding-top: 4px;
  background-color: $mention-color;
}

.icon.rerawr {
  padding-top: 4px;
  background-color: $rerawr-color;
}
