@import 'modules/variables';

.rawr-list {
    color: $dark-gray-color;
}

.rawr-list .header {
    text-transform: uppercase;
    border-bottom: 1px solid $border-blue-color;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.rawr-list .header::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

.rawr-list .header .title {
    padding: 12px;
    min-width: 80px;
    display: inline-block;
}

.rawr-list .header .title.active {
    color: $blue-color;
    border-bottom: 3px solid $blue-color;
}

.rawr-list .header a.title {
    font-size: 16px;
    text-align: center;
    color: $dark-gray-color;
    text-decoration: none;
    font-weight: 500;
}

.rawr-list .new-content {
    height: 50px;
    display: flex;
    background-color: $not-so-lighter-blue-color;
    border-bottom: 1px solid $border-blue-color;
    cursor: pointer;
}

.rawr-list .new-content p.title {
    margin: auto;
    color: $darker-blue-color;
    font-weight: 500;
    text-transform: none;
}

.rawr-list .rawr {
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid $border-blue-color;
}

.rawr-list .rerawr {
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 80px;
}

.rawr-list .rerawr .icon {
    height: 18px;
    width: 20px;
    float: left;
    margin-right: 5px;
    background-size: 20px 18px;
    background: url("../images/retweet-mini.png") no-repeat center;
}

.rawr-list .rerawr .text a {
    color: $darker-blue-color;
    text-decoration: none;
}

.rawr-list .rerawr .text {
    color: $darker-blue-color;
    font-size: 0.9em;
    text-decoration: none;
}

.rawr-list .rawr.last-child {
    border: none;
}

.rawr-list .rawr .rawr-media .profile-picture {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid $border-blue-color;
    background-color: $darker-blue-color;
}

.rawr-list .rawr-body {
    display: inline-block;
    padding-left: 20px;
    width: calc(100% - 60px);
}

.rawr-list .rawr-body .rawr-header a.name {
    color: $dark-gray-color;
    font-weight: 500;
    text-decoration: none;
    padding-right: 5px;
}

.rawr-list .rawr-body .rawr-header a.username {
    color: $darker-blue-color;
    font-size: 0.9em;
    text-decoration: none;
}

.rawr-list .rawr-body .rawr-header p.time,
.rawr-list .rawr-body .rawr-header span.time {
    font-size: 0.9em;
    color: $darker-blue-color;
    margin-bottom: 0;
}

.rawr-list .rawr-body .rawr-content .status {
    font-size: 1.2em;
    padding: 10px 0;
    word-wrap: break-word;
}

.rawr-list .rawr-body .rawr-content .status a {
    color: $blue-color;
}

.rawr-list .rawr-body .rawr-content .videos {
    padding-bottom: 10px;
}

.rawr-list .rawr-body .rawr-content .videos iframe {
    border: 1px solid $border-blue-color;
    border-radius: 6px;
    background-color: $light-blue-color;
}

.rawr-list .rawr-body .rawr-content .images .image {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.rawr-list .rawr-body .rawr-content .images .image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid $border-blue-color;
    border-radius: 6px;
    background-color: $light-blue-color;
}

.rawr-list .rawr-body .rawr-content .actions {}

.rawr-list .rawr-body .rawr-content .actions .icon {
    min-width: 30px;
    height: 17px;
    line-height: 17px;
}

.rawr-list .rawr-body .rawr-content .actions a.icon {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
    color: $dark-gray-color;
}

.rawr-list .rawr-body .rawr-content .actions .icon.icon-reply {
    background: url("../images/reply-icon.png") no-repeat left;
    background-size: 25px 17px;
    padding-left: 33px;
    margin-right: 10px;
}

.rawr-list .rawr-body .rawr-content .actions .icon.icon-like {
    background: url("../images/favorite-icon.png") no-repeat left;
    background-size: 18px 17px;
    padding-left: 26px;
    margin-right: 10px;
}

.rawr-list .rawr-body .rawr-content .actions .icon.icon-like.selected,
.no-touch .rawr-list .rawr-body .rawr-content .actions .icon.icon-like:hover {
    background: url("../images/favorite-icon-filled.png") no-repeat left;
    color: $like-color;
    background-size: 18px 17px;
    padding-left: 26px;
    margin-right: 10px;
}

.rawr-list .rawr-body .rawr-content .actions .icon.icon-rerawr {
    background: url("../images/retweet-icon.png") no-repeat left;
    background-size: 25px 17px;
    padding-left: 33px;
    margin-right: 10px;
}

.rawr-list .rawr-body .rawr-content .actions .icon.icon-rerawr.selected,
.no-touch .rawr-list .rawr-body .rawr-content .actions .icon.icon-rerawr:hover {
    background: url("../images/retweet-icon-filled.png") no-repeat left;
    color: $rerawr-color;
    background-size: 25px 17px;
    padding-left: 33px;
    margin-right: 10px;
}

.rawr-list .rawr-reply {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, max-height 0.2s 0.3s ease-in, visibility 0s 0.3s, padding 0s 0.3s;
}

.rawr-list .rawr-reply.open {
    padding: 20px 10px 0px 10px;
    transition: max-height 0.3s, opacity 0.2s, visibility 0s;
    opacity: 1;
    max-height: 200px;
    visibility: visible;
}

@-moz-document url-prefix() {
    .rawr-list .rawr-reply {
        display: none;
    }
    .rawr-list .rawr-reply.open {
        display: block;
    }
}
