@import 'modules/variables';

.user-box {
  height: 100%;
}

.user-box .profile {
  @include raptor-gradient( 'vertical');
  font-weight: 500;
  color: white;
  height: 100%;
}

.user-box .content {
  margin: 0 auto;
  padding: 20px 0px;
  text-align: center;
}

.user-box .profile .user-info {
  margin: 10px 0px;
}

.user-box .profile .user-info p {
  margin: 0px;
  padding-top: 5px;
}

.user-box .profile .profile-picture {
  margin: 10px 0px;
}

.user-box .profile .profile-picture img {
  height: 80px;
  width: 80px;
  border-radius: 8px;
  border: 2px solid white;
  background-color: $darker-blue-color;
}

.user-box .profile .actions {
  margin: 10px 0px;
}

.user-box .counts {
  padding: 8px 0px;
  margin-top: -25px;
}

.user-box .counts .count-item {
  float: left;
  width: 33%;
  text-align: center;
}

.user-box .counts .count-item p {
  margin: 0px;
  font-weight: 500;
  text-transform: lowercase;
  color: $blue-color;
}

.user-box .counts .count-item a {
  text-decoration: none;
}


.user-box .counts .count-item p.count {
  font-size: 1.4em;
}

.user-list .panel {
  margin-bottom: 0px;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
}

.user-list .user-item {
  width: 25%;
  display: inline-block;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .user-list .user-item {
    width: 33%;
    display: inline-block;
  }
  .user-list {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 8px 8px 16px;
  }
}

@media screen and (max-width: 767px) {
  .user-list .user-item {
    width: 100%;
    display: inline-block;
  }
  .user-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
  }
}
