@import 'compass';

@mixin raptor-gradient($orientation) {
    background-color: rgb(37,141,237); // Old browsers

    @if $orientation == 'horizontal' {
        @include filter-gradient(#258ded, #544cd9, vertical); // IE6-9
        @include background-image(linear-gradient(left, rgba(37,141,237,1) 0%,rgba(84,76,217,1) 100%));
    }
    @else {
         @include filter-gradient(#258ded, #544cd9, horizontal); // IE6-9
        @include background-image(linear-gradient(top, rgba(37,141,237,1) 0%,rgba(84,76,217,1) 100%));
    }
}

$light-blue-color: #F4F7F9;
$blue-color: #258DED;
$border-blue-color: #CDDAE5;
$dark-blue-color: #8C9FAF;
$darker-blue-color: #758492;

$dark-gray-color: #021D33;

$red-color: #D0021B;
$dark-red-color: #A10316;

$heart-color: #F82A61;
$mention-color: #77C325;
$rerawr-color: #258DED;
$unfollow-color: #951eb3;
$follow-color: #de6641;

$like-color: #f82a61;
$rerawr-color: #258ded;
