<nav class="navbar navbar-raptor navbar-fixed-top">
	<div class="navbar-header">
		<a class="navbar-brand" href="#/"></a>
	</div>
	<div class="navbar-form navbar-left navbar-search hidden-xs">
		<div class="inner-addon right-addon">
			<a class="glyphicon glyphicon-search button-submit"></a>
			<input type="text" class="form-control" / placeholder="{{ 'SEARCH_PLACEHOLDER' | translate}}">
		</div>
	</div>
	<ul class="nav navbar-nav navbar-right navbar-menu">
		<li class="visible-xs">
			<a class="glyphicon glyphicon-search navbar-menu-item" href="#/"></a>
		</li>
		<li class="navbar-login">
			<a href="#" class="navbar-menu-item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">{{ 'LOG_IN' | translate}} <span class="caret"></span></a>
			<div class="card card-login">
				<div class="row">
				<div class="col-md-12 text-center">
					<input type="text" class="raptor-input" autocorrect="off" autocapitalize="none" placeholder="{{ 'USERNAME_PLACEHOLDER' | translate}}"/>
					<input type="password" class="raptor-input" autocorrect="off" autocapitalize="none" placeholder="{{ 'PASSWORD_PLACEHOLDER' | translate}}"/>
					<a class="btn btn-raptor btn-spacing">{{ 'LOG_IN' | translate}}</a>
					<p>{{ 'NO_ACCOUNT' | translate}} <a class="link">{{ 'SIGN_UP' | translate}}.</a></p>
				</div>
			</div>
			</div>
		</li>
	</ul>
</nav>
