<div class="notification-list">
  <div class="notification unread">
     <a class="notification-media pull-left" href="#">
        <img class="profile-picture" src="https://www.gravatar.com/avatar/4caa92cdbd9a9fd844865351af1cb04c?d=http%3A%2F%2Fi.imgur.com%2FgOGINGL.png&s=150" alt="Profile Picture"/>
        <span class="fa fa-heart icon heart"></span>
     </a>
     <div class="notification-body">
        <p class="title"><a href="">luis marzoratti</a> liked your rawr</p>
        <p class="time">17 min ago</p>
     </div>
  </div>
  <div class="notification">
     <a class="notification-media pull-left" href="#">
        <img class="profile-picture" src="https://www.gravatar.com/avatar/20fb26fed2f661e99b7adf947499c386?d=http%3A%2F%2Fi.imgur.com%2FgOGINGL.png&s=150" alt="Profile Picture"/>
        <span class="fa fa-comment icon mention"></span>
     </a>
     <div class="notification-body">
        <p class="title"><a href="">Matias Fraga</a> mentioned you</p>
        <p class="time">17 min ago</p>
     </div>
  </div>
  <div class="notification">
     <a class="notification-media pull-left" href="#">
        <img class="profile-picture" src="https://www.gravatar.com/avatar/3c75605d9e99561dde5e743159323366?d=http%3A%2F%2Fi.imgur.com%2FgOGINGL.png&s=150" alt="Profile Picture"/>
        <span class="glyphicon glyphicon-retweet icon rerawr"></span>
     </a>
     <div class="notification-body">
        <p class="title"><a href="">Lucas Soncini</a> rerawred your rawr</p>
        <p class="time">17 min ago</p>
     </div>
  </div>
</div>
