<div class="rawr-list">
    <div class="panel panel-raptor">
        <div class="header">
            <span ng-repeat='item in items'>
              <a class="title" href="" ng-click="rawrList.switchSelection($index)" ng-class="{'active': $index == rawrList.selected }">{{rawrList.items[$index].title}}</a>
            </span>
            <div class="clearfix"></div>
        </div>
        <div class="new-content" ng-if="rawrList.items[rawrList.selected].newRawrs.length > 0" ng-click="rawrList.showNew()">
          <p class="title" translate="UNREAD_RAWR" translate-value-number="{{rawrList.items[rawrList.selected].newRawrs.length}}"></p>
        </div>
        <div class="content" infinite-scroll='rawrList.fetchOld()' infinite-scroll-distance="0" infinite-scroll-disabled='rawrList.items[rawrList.selected].busy || rawrList.items[rawrList.selected].disabled'>
            <div ng-repeat='item in rawrList.items[rawrList.selected].rawrs'>
                <div class="rawr" ng-class="{'last-child': $last}">
                    <div class="rawr-media pull-left">
                        <a ng-href="#/profile/{{item.owner.username}}"><img class="profile-picture" ng-src="{{item.owner.profile_pictures.large}}" alt="Profile Picture" /></a>
                    </div>
                    <div class="rawr-body">
                        <div class="rawr-header">
                            <a class="name" ng-href="#/profile/{{item.owner.username}}">{{item.owner.first_name}} {{item.owner.last_name}}</a><a class="username" ng-href="#/profile/{{item.owner.username}}">@{{item.owner.username}}</a>
                            <span class="time pull-right hidden-xs" translate="TIME_SINCE" translate-value-number="{{item.time.number}}" translate-value-unit="{{(item.time.unit | uppercase) | translate}}"></span>
                            <p class="time visible-xs" translate="TIME_SINCE" translate-value-number="{{item.time.number}}" translate-value-unit="{{(item.time.unit | uppercase) | translate}}"></p>
                        </div>
                        <div class="rawr-content">
                            <div class="status" ng-bind-html="item.status | noImages | mentions | hashtags | newlines | myLinky:'_blank'"></div>
                            <div class="images" ng-if="item.imagesUrl.length > 0">
                              <div ng-repeat="image in item.imagesUrl" class="image">
                                <a ng-href="{{image}}" target="_blank"><img ng-src="{{image}}"></img></a>
                              </div>
                              <div class="clearfix"></div>
                            </div>
                            <div class="videos" ng-if="item.youtubeIds.length > 0">
                              <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" ng-src="{{ item.youtubeIds[0] | youtubeEmbedUrl }}"></iframe>
                              </div>
                              <div class="clearfix"></div>
                            </div>
                            <div class="actions">
                                <a href="" class="icon icon-rerawr" ng-if="!(item.user_has_rerawred == null)" ng-class="{'selected': item.user_has_rerawred }" ng-click="rawrList.rerawr(item)"> {{item.counts.rerawrs}}</a>
                                <a href="" class="icon icon-like" ng-if="!(item.user_has_liked == null)" ng-class="{'selected': item.user_has_liked }" ng-click="rawrList.like(item)"> {{item.counts.likes}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty-loading" ng-show="rawrList.items[rawrList.selected].busy">
            <img class="spinner" src="../images/spinner.png" />
        </div>
        <div class="empty-loading" ng-show="rawrList.items[rawrList.selected].disabled && rawrList.items[rawrList.selected].rawrs.length === 0">
            <p class="title">{{ 'EMPTY_RAWRS' | translate}}</p>
        </div>
    </div>
</div>
