<div class="rawr-list">
    <div class="panel panel-raptor">
        <div class="header">
            <span ng-repeat='item in items'>
              <a class="title" href="" ng-click="rawrList.switchSelection($index)" ng-class="{'active': $index == rawrList.selected }">{{rawrList.items[$index].title}}</a>
            </span>
            <div class="clearfix"></div>
        </div>
        <div class="content" infinite-scroll='rawrList.loadMore()' infinite-scroll-distance="0" infinite-scroll-disabled='rawrList.items[rawrList.selected].busy || rawrList.items[rawrList.selected].disabled'>
            <div ng-repeat='item in rawrList.items[rawrList.selected].rawrs'>
                <div class="rawr" ng-class="{'last-child': $last}">
                    <div class="rawr-media pull-left">
                        <img class="profile-picture" ng-src="{{item.owner.profile_pictures.large}}" alt="Profile Picture" />
                    </div>
                    <div class="rawr-body">
                        <div class="rawr-header">
                            <a class="name" ng-href="#/profile/{{item.owner.username}}">{{item.owner.first_name}} {{item.owner.last_name}}</a><a class="username" ng-href="#/profile/{{item.owner.username}}">@{{item.owner.username}}</a>
                            <span class="time pull-right hidden-xs" translate="TIME_SINCE" translate-value-number="{{item.created_time.number}}" translate-value-unit="{{(item.created_time.unit | uppercase) | translate}}"></span>
                            <p class="time visible-xs" translate="TIME_SINCE" translate-value-number="{{item.created_time.number}}" translate-value-unit="{{(item.created_time.unit | uppercase) | translate}}"></p>
                        </div>
                        <div class="rawr-content">
                            <div class="status" ng-bind-html="item.status | mentions | hashtags | newlines | myLinky:'_blank'"></div>
                            <div class="actions">
                                <a href="" class="icon icon-rerawr" ng-if="!(item.user_has_rerawred == null)" ng-class="{'selected': item.user_has_rerawred }" ng-click="rawrList.rerawr(item)"> {{item.counts.rerawrs}}</a>
                                <a href="" class="icon icon-like" ng-if="!(item.user_has_liked == null)" ng-class="{'selected': item.user_has_liked }" ng-click="rawrList.like(item)"> {{item.counts.likes}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="empty-loading" ng-show="rawrList.items[rawrList.selected].busy">
            <img class="spinner" src="../images/spinner.png" />
        </div>
        <div class="empty-loading" ng-show="rawrList.items[rawrList.selected].disabled && rawrList.items[rawrList.selected].rawrs.length === 0">
            <p class="title" ng-click="loadMore()">{{ 'EMPTY_RAWRS' | translate}}</p>
        </div>
    </div>
</div>
