<div class="rawr-composer">
  <form name="composerForm">
    <textarea type="text" name="rawr" class="raptor-input" ng-model="rawrComposer.status" required placeholder="{{ 'RAWR_PLACEHOLDER' | translate}}"></textarea>
    <div class="options">
      <div class="row no-margin no-padding">
        <div class="col-md-3 pull-left character-count"  ng-class="{'exceeded': (rawrComposer.status.length > 255)}">
          {{rawrComposer.status.length?rawrComposer.status.length:'0'}}/255
        </div>
        <div class="col-md-3 pull-right text-right">
          <a class="btn btn-raptor" ng-disabled="(composerForm.rawr.$error.required || rawrComposer.status.length > 255)" ng-click="rawrComposer.postRawr()">{{ 'RAWR' | translate}}</a>
        </div>
      </div>
    </div>
  </from>
</div>
