<div class="trending-box">
  <div class="panel panel-raptor">
    <div class="title">
      <h4>{{ 'TRENDING_TITLE' | translate}}</h4>
    </div>
    <div class="trends">
      <div ng-repeat='trend in trendingBox.trends' class="trend">
        <a href="">#{{trend.hashtag}}</a>
      </div>
    </div>
    <div class="empty-loading" ng-show="trendingBox.busy">
        <img class="spinner" src="../images/spinner.png" />
    </div>
    <div class="empty-loading" ng-show="trendingBox.trends.length === 0 && trendingBox.busy === false">
        <p class="title">{{ 'EMPTY_TRENDING' | translate}}</p>
    </div>
  </div>
</div>
