<div class="rawr-list">
    <div class="panel panel-raptor">
        <div class="header">
            <span ng-repeat='item in items'>
              <a class="title" href="" ng-click="userList.switchSelection($index)" ng-class="{'active': $index == userList.selected }">{{userList.items[$index].title}}</a>
            </span>
            <div class="clearfix"></div>
        </div>
        <div class="user-list" infinite-scroll='userList.loadMore()' infinite-scroll-distance="0" infinite-scroll-disabled='userList.items[userList.selected].busy || userList.items[userList.selected].disabled'>
            <div ng-repeat='item in userList.items[userList.selected].users' class="user-item">
                <a ng-href="#/profile/{{item.username}}">
                    <user-box user="item" show-counts="false"></user-box>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="empty-loading" ng-show="userList.items[userList.selected].busy">
            <img class="spinner" src="./images/spinner.png" />
        </div>
        <div class="empty-loading" ng-show="userList.items[userList.selected].disabled && userList.items[userList.selected].users.length === 0">
            <p class="title" ng-click="loadMore()">{{ 'EMPTY_USER_LIST' | translate}}</p>
        </div>
    </div>
</div>
